[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=launch
X-KDE-ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_scripting
X-KDE-PluginInfo-Author=Sebastian Sauer
X-KDE-PluginInfo-Email=mail@dipe.org
X-KDE-PluginInfo-Name=kopete_scripting
X-KDE-PluginInfo-Version=0.9.2
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Scripting
Name[cs]=Skriptování
Name[nl]=Scripting
Name[pt]=Programação
Name[sk]=Skriptovanie
Name[sr]=Скриптовање
Name[sr@ijekavian]=Скриптовање
Name[sr@ijekavianlatin]=Skriptovanje
Name[sr@latin]=Skriptovanje
Name[sv]=Skripthantering
Name[uk]=Написання скриптів
Name[x-test]=xxScriptingxx
Comment=Python, Ruby and JavaScript Plugins
Comment[cs]=Moduly Python, Ruby a JavaScript
Comment[nl]=Plugins voor Python, Ruby en JavaScript
Comment[pt]='Plugins' em Python, Ruby e JavaScript
Comment[sk]=Python, Ruby a JavaScript pluginy
Comment[sr]=Прикључци за питон, руби и јаваскрипт
Comment[sr@ijekavian]=Прикључци за питон, руби и јаваскрипт
Comment[sr@ijekavianlatin]=Priključci za Python, Ruby i JavaScript
Comment[sr@latin]=Priključci za Python, Ruby i JavaScript
Comment[sv]=Insticksprogram för Python, Ruby och Javascript
Comment[uk]=Додатки Python, Ruby і JavaScript
Comment[x-test]=xxPython, Ruby and JavaScript Pluginsxx
