[Desktop Entry]
Encoding=UTF-8
Icon=launch
Type=Service
ServiceTypes=KCModule
X-KDE-Library=kcm_kopete_scripting
X-KDE-ParentApp=kopete_scripting
X-KDE-ParentComponents=kopete_scripting
Name=Scripting
Comment=Python, Ruby and JavaScript Plugins
