[Desktop Entry]
Encoding=UTF-8
Type=Service
X-Kopete-Version=1000900
Icon=launch
ServiceTypes=Kopete/Plugin
X-KDE-Library=kopete_scripting
X-KDE-PluginInfo-Author=Sebastian Sauer
X-KDE-PluginInfo-Email=mail@dipe.org
X-KDE-PluginInfo-Name=kopete_scripting
X-KDE-PluginInfo-Version=0.9.2
X-KDE-PluginInfo-Website=http://kopete.kde.org
X-KDE-PluginInfo-Category=Plugins
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
Name=Scripting
Comment=Python, Ruby and JavaScript Plugins
