[Desktop Entry]
Icon=launch
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_kopete_scripting
X-KDE-ParentApp=kopete_scripting
X-KDE-ParentComponents=kopete_scripting
Name=Scripting
Name[cs]=Skriptování
Name[nl]=Scripting
Name[pt]=Programação
Name[sk]=Skriptovanie
Name[sr]=Скриптовање
Name[sr@ijekavian]=Скриптовање
Name[sr@ijekavianlatin]=Skriptovanje
Name[sr@latin]=Skriptovanje
Name[sv]=Skripthantering
Name[uk]=Написання скриптів
Name[x-test]=xxScriptingxx
Comment=Python, Ruby and JavaScript Plugins
Comment[cs]=Moduly Python, Ruby a JavaScript
Comment[nl]=Plugins voor Python, Ruby en JavaScript
Comment[pt]='Plugins' em Python, Ruby e JavaScript
Comment[sk]=Python, Ruby a JavaScript pluginy
Comment[sr]=Прикључци за питон, руби и јаваскрипт
Comment[sr@ijekavian]=Прикључци за питон, руби и јаваскрипт
Comment[sr@ijekavianlatin]=Priključci za Python, Ruby i JavaScript
Comment[sr@latin]=Priključci za Python, Ruby i JavaScript
Comment[sv]=Insticksprogram för Python, Ruby och Javascript
Comment[uk]=Додатки Python, Ruby і JavaScript
Comment[x-test]=xxPython, Ruby and JavaScript Pluginsxx
