[Desktop Entry]
Icon=launch
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_kopete_scripting
X-KDE-ParentApp=kopete_scripting
X-KDE-ParentComponents=kopete_scripting
Name=Scripting
Name[cs]=Skriptování
Name[de]=Skripte
Name[el]=Εγγραφή σεναρίων
Name[et]=Skriptid
Name[fr]=Scriptage
Name[ga]=Scriptiú
Name[hi]=स्क्रिप्टिंग
Name[hne]=स्क्रिप्टिंग
Name[ja]=スクリプティング
Name[km]=កា​រស្គ្រីប
Name[lt]=Scenarijai
Name[lv]=Skriptēšana
Name[ms]=Penskriptan
Name[nb]=Skripting
Name[nds]=Skripten
Name[nl]=Met scripts werken
Name[pa]=ਸਕ੍ਰਿਪਟਿੰਗ
Name[pt]=Programação
Name[pt_BR]=Criação de scripts
Name[ro]=Script-are
Name[ru]=Поддержка скриптов
Name[sv]=Skript
Name[th]=สคริปต์
Name[tr]=Betik kullanımı
Name[uk]=Написання скриптів
Name[x-test]=xxScriptingxx
Name[zh_CN]=脚本
Name[zh_TW]=文稿
Comment=Python, Ruby and JavaScript Plugins
Comment[be]=Утулкі Python, Ruby і JavaScript
Comment[cs]=Moduly pro Python, Ruby a JavaScript
Comment[de]=Python-, Ruby- und JavaScript-Module
Comment[el]=Πρόσθετο για Python, Ruby και JavaScript
Comment[es]=Complementos en Python, Ruby y JavaScript
Comment[et]=Pythoni, Ruby ja JavaScripti pluginad
Comment[fr]=Modules externes de script pour Python, Ruby et Javascript
Comment[ga]=Breiseáin Python, Ruby agus JavaScript
Comment[gl]=Extensións de Python, Ruby e JavaScript
Comment[hi]=पायथन, रूबी तथा जावास्क्रिप्ट प्लगइन
Comment[hne]=पायथन, रूबी अउ जावास्क्रिप्ट प्लगइन
Comment[it]=Estensioni Python, Ruby e Javascript
Comment[ja]=Python, Ruby, JavaScript プラグイン
Comment[km]=កម្មវិធី​ជំនួយ Python, Ruby និង JavaScript
Comment[lt]=Python, Ruby ir JavaScript įskiepiai
Comment[lv]=Python, Ruby un JavaScript spraudņi
Comment[ms]=Plugin Python, Ruby dan JavaScript
Comment[nb]=Programtillegg for Python, Ruby og JavaScript
Comment[nds]=Python-, Ruby- un JavaScript-Modulen
Comment[nl]=Plugins voor Python, Ruby en JavaScript
Comment[pa]=ਪਾਈਥਨ, ਰੂਬੀ ਅਤੇ ਜਾਵਾ-ਸਕ੍ਰਿਪਟ ਪਲੱਗਇਨ
Comment[pt]='Plugins' em Python, Ruby e JavaScript
Comment[pt_BR]=Plug-ins Python, Ruby e JavaScript
Comment[ro]=Module Python, Ruby și JavaScript
Comment[ru]=Модули Python, Ruby и JavaScript
Comment[sv]=Insticksprogram för Python, Ruby och Javascript
Comment[th]=ปลั๊กอินสำหรับไพธอน, รูบี้ และจาวาสคริปต์
Comment[tr]=Python, Ruby ve JavaScript Eklentileri
Comment[uk]=Додатки Python, Ruby і JavaScript
Comment[x-test]=xxPython, Ruby and JavaScript Pluginsxx
Comment[zh_CN]=Python、Ruby 和 JavaScript 插件
Comment[zh_TW]=Python，Ruby 與 JavaScript 外掛程式
