<!DOCTYPE kpartgui>
<kpartgui name="kopete_scripting" version="2">
	<MenuBar>
        <Menu name="edit">
            <text>&amp;Edit</text>
            <ActionList name="scripting_main_contact" />
        </Menu>
	</MenuBar>
    <Menu name="contact_popup">
        <ActionList name="scripting_main_contact" />
    </Menu>
</kpartgui>
