<!DOCTYPE kpartgui>
<kpartgui name="kopete_scripting" version="2">
	<MenuBar>
        <Menu name="tools">
            <text>&amp;Tools</text>
            <ActionList name="scripting_chat_tools" />
        </Menu>
	</MenuBar>
</kpartgui>
